*
!*/
!.gitignore

# Doc
README.md

# Build
!CMakeLists.txt
!unxnote.gemspec
!Rakefile
!lib/build/[a-z]*.rb

# Fonts
!ttf/[A-Z]*.ttf

# Source
!src/[a-z]*.c
!src/**/[a-z]*.c

# Include
!include/unxnote/[a-z]*.h
!include/**/[a-z]*.h
